fastapi
uvicorn
aiosmtplib
imaplib2
celery
slowapi
pydantic
email-validator
python-multipart
uvicorn[standard]
websockets
PyJWT
cryptography
redis
starlette

black[jupyter]==21.12b0
click==7.1.2
streamlit==1.3.1
mypy
pylint
pip<24.1
setuptools<70
celery==3.1.11